
  
  .container {
    width: 50vw;
    margin: 5rem auto;
    background: var(--clr-white);
    border-radius: var(--radius);
    padding: 2.5rem 2rem;
    max-width: var(--fixed-width);
    display: grid;
    gap: 1rem 2rem;
  }
  .container h3 {
    line-height: 1.2;
    font-weight: 500;
    font-size: 3rem;
    display:flex;
    position: relative;
  }

  .question-title {
    cursor: pointer;
  }

  p {
    font-size: 1rem !important;
  }


  
  
  